body {
    font-family: 'Arial', sans-serif;
    width: 100%;
}
header {
    background-color: burlywood;
    color: rgb(160, 106, 56); 
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgb(160, 106, 56); /* Línea separadora */
}

/*Barra de navegación*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    border-style:solid;
    border-color: lightslategrey;
}
nav a{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-style:solid;
    border-color: lightslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.desplegable{
    display: inline-block;
    position: relative;
}
.index_content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.desplegable:hover .index_content {
    display: block;
}
.index_content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
nav a:visited {
    color: rgb(160, 106, 56); /* Cambia el color del enlace visitado si es necesario */
}