/*Cabecera principal de la web*/
header{
    height: 275px;
    background-image: url(../media/Cabecera_inicio.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
header:first-child{
    padding-top: 150px;
    font-family: 'Monotype Corsiva';
    font-size: 250%;
    color:saddlebrown;
}

/*Barra de navegación*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    border-style:solid;
    border-color: lightslategrey;
}
nav a{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-style:solid;
    border-color: lightslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.desplegable{
    display: inline-block;
    position: relative;
}
.index_content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.desplegable:hover .index_content {
    display: block;
}
.index_content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/*Contenido de la web*/
body{
    background-color: bisque;
}

aside{
    width: 15%;
    height: 20%;
    margin-top: 10%;
    float: right;
    border: 1px;
    border-style: solid;
    border-radius: 2.5mm;
    background-color: rgb(252, 192, 120);
    box-shadow: 3px 6px 5px grey;
}
#aside{
    color: black;
    text-decoration: none;
}

#contenido_central{ 
    margin-left: 15%;
    margin-right: 15%;
    background-color: darksalmon;
}

/*carrusel de imagenes*/
#carrusel_img {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: auto;    
}
#imagenes {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#atras{
    margin-top: 200px;
    max-height: 15px;
    padding: 20px;
    background-color: transparent;
    text-decoration: double;
}
#siguiente{
    margin-top: 200px;
    max-height: 15px;
    padding: 20px;
    background-color: transparent;
    text-decoration: double;
}
.controles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}


/*Footer*/
footer {
    background-color: #333;
    color: white;
    padding: 2em 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-contact,
.footer-social {
    flex: 1;
    margin: 20px;
}

.footer-contact h3,
.footer-social h3 {
    color: #ffcc00;
}

.footer-contact p {
    color: #ccc;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social li {
    margin-bottom: 10px;
}

.footer-social a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #ffcc00;
}

