#demo,#demo2,#demo3 {
    display: flex;
    margin: 0.5%;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
    border-style:solid;
    padding: 1%;
    background-color:rgb(87, 22, 22);
}

#demo>div,#demo2>div,#demo3>div{
    padding: 2px;
    margin:2px;
    max-width: 20%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: rgba(255, 251, 0, 0.681);
    box-shadow: 3px 6px 5px black;

}
#demo>div img,#demo2>div img,#demo3>div img{
    width: 285px;
    height: 285px;
}
#Titulo{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 0px;
    border-style: solid;

}
.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-left: 2px;
    border-right: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;

}
.contenedor3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-left: 2px;
    border-right: 2px;
    border-top: 0px;
    border-bottom: 2px;
    border-style: solid;

}

