body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}





section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1; /* Añadido para que section ocupe el espacio restante */
}

.season-box {
    width: 75%;
    height: 75%;
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.season-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#order-btn {
    background-color: rgb(219, 137, 37);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#cart {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

#cart-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px; /* Ajusta el ancho según tus necesidades */
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center;
    
}


#cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-item span {
    flex-grow: 1;
    text-align: left;
}

.cart-item button {
    margin-left: 10px;
    background-color: rgb(219, 137, 37);
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
}


#menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#season-title {
    font-size: 24px;
    margin-bottom: 20px;
}

#menu-items {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

#menu-items li {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.remove-btn,
.price {
    background-color: rgb(219, 137, 37);
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
}

.dish-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.dish-name {
    margin-right: 10px;
    margin-top: 10px;
}

.dish-price {
    font-weight: bold;
}

