body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.square {
  text-align: center;
  cursor: pointer;
}

.square img {
  width: 400px;
  height: 250px;
  margin: 10px;
}

.square p {
  margin: 10px 0;
}